
services:
  youtube_clone-api:
    build: .
    container_name: youtube_clone-api
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - mongo
      - redis
    volumes:
      - uploads_data:/app/uploads
      - logs_data:/app/logs
    networks:
      - youtube_net
  
  worker:
    build:
      context: .
      dockerfile: Dockerfile.worker
    container_name: youtube_clone-worker
    env_file:
      - .env
    depends_on:
      - mongo
      - redis
    volumes:
      - uploads_data:/app/uploads
      - logs_data:/app/logs
    networks:
      - youtube_net

  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - youtube_net

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - youtube_net

volumes:
  mongo_data:
  uploads_data:
  logs_data:

networks:
  youtube_net:
    driver: bridge
